@using System.Security.Claims
@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="text-center">
    @{
        if(User.Identity.IsAuthenticated)
        {
                    <h1 class="display-4">Sveiki, @User.Claims.Where(x => x.Type == ClaimTypes.Name).FirstOrDefault().Value</h1>
            }
        }

    </div>
