@model ITKT_PROJEKTAS.Models.LoginDto

@{
    ViewBag.Title = "Prisijungimas";
}
<form method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Username">Vartotojo vardas</label>
                <input type="text" class="form-control" asp-for="Username" placeholder="Vartotojo vardas" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Slaptažodis</label>
                <input class="form-control" asp-for="Password" placeholder="Password" type="password" />
            </div>
            <button class="btn btn-primary" type="submit">Prisijungti</button>
            </br>
            @{
                if(ViewBag.Erorras != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Erorras
                    </div>
                }
            }

        </div>
    </div>
</form>
