@using ITKT_PROJEKTAS.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vandens turizmo portala</title>
    <style>
             .input-validation-error {
                    border-color: red !important;  

        }

            .input.input-validation-error {
            border-color: red !important;
            }
    </style>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITKT_PROJEKTAS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vandens turizmo portalasS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pagrindinis</a>
                        </li>

                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registracija</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Prisijungti</a>
                                </li>
                            }
                            if (User.Identity.IsAuthenticated)
                            {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="Index">Marsrutai</a>
                             </li>
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Rezervacijos</a>
                             </li>
                            <li class="nav-item me-auto">
                                 <a class="nav-link text-dark me-auto" asp-area="" asp-controller="Account" asp-action="Logout">Atsijungti</a>
                             </li>
                            }
                            if (User.IsInRole(Role.Admin.ToString()))
                            {
                                <li class="nav-item">
                                    <strong><a class="nav-link text-dark text-" asp-area="" asp-controller="Admin" asp-action="Index">Administravimo aplinka</a></strong>
                                </li>
                            }
                            if (User.IsInRole(Role.Manager.ToString()))
                            {
                                <li class="nav-item">
                                    <strong><a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Index">Vadybinino aplinka</a></strong>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Marius Kamarauskas IFF0/8 - Vandens turizmo portalas
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
